* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEE;
    height: 100vh;
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

header {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

section {
    width: 100%;

    margin: 25px 0;
    padding: 25px;
}

section header {
    margin-bottom: 25px;
}

p {
    margin-top: 15px;
    padding: 5px;
    opacity: .85;
}

textarea {
    resize: none;
    
    padding: 5px;
    margin-top: 10px;

    font-size: 14px;
}

button {
    border: none;
    border-radius: 500px;

    font-size: 16px;
    font-weight: bold;

    color: white;
    background-color: rgb(235, 110, 28);

    margin-top: 10px;
    padding: 10px;

    cursor: pointer;

    transition: all 0.15s ease;
}

button:hover {
    background-color: rgb(255, 133, 32);
}

button:active {
    background-color: rgb(255, 154, 60);
}

footer {
    width: 100%;
    text-align: center;

    opacity: .9;

    padding: 20px;
}

footer a{
    text-decoration: none;
}

section .fields {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-field {
    display: flex;
    flex-direction: column;

    margin: 0 20px;
}

.result-buttons {
    display: flex;
    justify-content: space-evenly;
}

#input-field button {
    width: 200px;
    margin-left: 100px;
    margin-right: 100px;
}

#result-field button {
    width: 200px;
}