html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #633BC6;

    font-family: 'Roboto', sans-serif;
}

.display {
    display: flex;
    flex-direction: column;
}

.log-display {
    border: none;
    outline: none;

    padding: 8px;

    text-align: end;

    font-size: 14px;
    color: rgb(90, 90, 90);
}

.number-display {
    border: none;
    outline: none;

    padding: 0 8px 8px 8px;

    font-size: 32px;
    font-weight: bold;

    text-align: end;
}

.numpad {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.numpad button {
    border: none;

    background-color: #C6633B;
    color: white;
    font-size: 18px;
    width: 63px;
}

.numpad button:hover {
    background-color: #db683b
}

.numpad button:active {
    background-color: #fd682d
}

.upper-side-operations {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 3px;
    height: 50px;
}

.upper-side-operations button {
    font-weight: thin;
}

.down-pad {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 3px;
}

.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px 50px;
    gap: 3px;
}

.numpad button.zero {
    grid-column: span 2;
    width: 130px;
}

.right-side-operations {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 3px;

    margin-left: 3px;
}

.right-side-operations button {
    font-size: 26px;
    font-weight: thin;
}

.plus {
    grid-row: span 2;
}