* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEE;
    height: 100vh;
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 28px;
}

form {
    width: 600px;
    border: 1px solid gray;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    border: none;
    padding: 10px;
    margin: 10px;
}

fieldset p {
    font-size: 14px;
    margin: 6px;
}

.error-message {
    color: red;
}

.note {
    opacity: .85;
}

input {
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

button {
    border: none;
    border-radius: 5px;

    color: white;
    background-color: rgb(64, 110, 238);

    font-size: 18px;
    font-weight: bold;

    width: 120px;
    height: 45px;

    transition: background-color 0.15s ease;

    cursor: pointer;
}

button:hover {
    background-color: rgb(66, 129, 247);
}

button:active {
    background-color: rgb(95, 164, 255);
}

footer {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}